<!DOCTYPE html>
<html lang="en">
<head>
  <title>
  {% block title %}Fudge Server{% endblock title %} - Fudge Server
  </title>
  {% block css %}{% endblock css %}
</head>

<body style="background-color:#7c868d;">

{% if request.user.is_authenticated %}
    <a href={% url 'files:index' %}>File Index</a> |
    <a href={% url 'files:upload' %}>Upload</a> |
    <a href="/admin" %}>Admin</a> |
    <a href="/account/logout" %}>Log out</a> |
    Logged in as {{ request.user }}.
{% else %}
    <a href="/account/login">Log in</a>
{% endif %}
<hr>

{% block header %}{% endblock header %}

{% block content %}{% endblock content %}

</body>
